.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  &__content {
    padding: 20px 25px;
    border-radius: 5px;
    background: #ffffff;
    margin: auto;
    min-width: 600px;
    z-index: 10;
  }

  &__header {
    @extend %flex-between;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.5em;
  }

  &__close {
    font-size: 1.5em;
    cursor: pointer;
  }

  &__body {
    height: 200px;
  }

  &__footer {
  }
}
