.input-form {
  @extend %flex-column;
  margin-bottom: 25px;

  &__title {
    font-size: 35px;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 3px;
  }

  &__input {
    margin-bottom: 15px;
  }
}
