.sidebar {
  width: 245px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.80);
  padding: 20px;

  &__title {
    font-size: 42px;
    margin-bottom: 8px;
    color: $color-white;
  }

  &__desc {
    color: $color-white;
  }
}
