body {
  font-family: Montserrat, sans-serif;
}

:disabled {
  cursor: not-allowed;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.content {
  padding: 25px;
  width: 740px;
}

.btn {
  display: block;
  width: 100px;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  color: $white;
}

.primary-btn {
  background-color: $violet;
}

.secondary-btn {
  background-color: $lg-red;
}

.primary-input {
  padding: 7px;
  background: $grey;
  border-radius: 4px;
}
