%place-center {
  display: grid;
  place-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-right {
  display: flex;
  justify-content: right;
}
